<nav class="navbar navbar-dark bg-primary">
    <div class="nav navbar-nav">
      <a class="nav-item nav-link" [class.active]="aba == 'home'"
          (click)="aba = 'home'" href="#">Home</a>
      <a class="nav-item nav-link" [class.active]="aba == 'features'"
         (click)="aba = 'features'" href="#">Features</a>
      <a class="nav-item nav-link" [class.active]="aba == 'pricing'"
         (click)="aba = 'pricing'" features href="#">Pricing</a>
      <a class="nav-item nav-link" [class.active]="aba == 'disabled'"
         (click)="aba = 'disabled'"  href="#">Disabled</a>
    </div>
</nav>

<div class="container" [ngSwitch]="aba" >
  <p *ngSwitchCase="'features'">Features </p>
  <p *ngSwitchCase="'pricing'">Pricing </p>
  <p *ngSwitchCase="'disabled'">Disabled </p>
  <p *ngSwitchDefault>Home </p>
</div>

<h5>Removendo o * usando templates</h5>

<div class="container" [ngSwitch]="aba" >
    <template [ngSwitchCase]="'features'">
        <p >Features </p>
    </template>
    <template [ngSwitchCase]="'pricing'">
        <p >Pricing </p>
    </template>
    <template [ngSwitchCase]="'disabled'">
        <p >Disabled </p>
    </template>
    <template [ngSwitchCase]="'home'" ngSwitchDefault>
        <p >Home </p>
    </template>
  </div>